*#
*~
._*
$RECYCLE.BIN/
*.7z
.AppleDouble
*.cab
*.class
*.com
coverage
*.csv
*.dat
*.db
*.dll
*.dmg
.DS_Store
.env
*.exe
*.gz
Icon
.idea
*.ini
*.iso
*.jar
lcov.info
lib-cov
LICENSE
*.log
logs
.LSOverride
*.msi
*.msm
*.msp
nbproject
.node_history
node_modules
*.o
*.out
out
package-lock.json
*.pid
pids
*.rar
results
*.seed
*.so
.Spotlight-V100
*.sql
*.sqlite
*.sqlite3
ssl
*.swm
*.swn
*.swo
*.swp
*.tar
.tmp
.Trashes
.vscode
*.zip
bin
